<app-titre
  titre="Gestion des catégories"
  vignette="Formulaire Modification"
></app-titre>

<section class="row">
  <section class="col-md-6">
    <div class="card">
      <div class="card-body">
        <div class="form-group mb-3">
          <label>Nom</label>
          <input type="text" class="form-control" [(ngModel)]="form.nom" />
        </div>

        <div class="form-group mb-3">
          <label>Description</label>
          <textarea
            class="form-control"
            [(ngModel)]="form.description"
          ></textarea>
        </div>

        <hr />

        <a class="btn btn-outline-secondary" [routerLink]="['/category']">
          Retour
        </a>
        <span class="float-end">
          <button class="btn btn-warning" (click)="update()">Enregistrer</button
          >&nbsp;
          <button (click)="reset()" class="btn btn-secondary">Annuler</button>
        </span>
      </div>
    </div>
  </section>
</section>
